<div class="youtube-container">
  <header class="channel-header">
    <div class="channel-info">
      <h4> <fa-icon [icon]="faYoutube"></fa-icon> Youtube</h4>
      <a [href]="channelUrl" target="_blank" rel="noopener noreferrer">
        {{ channelName }}
      </a>
    </div>
    <a [href]="channelUrl" class="subscribe-button" target="_blank" rel="noopener noreferrer">
      Inscrever-se
    </a>
  </header>

  <swiper-container 
      [slidesPerView]="'auto'" 
      [spaceBetween]="15"
      navigation="true">
    
    @for (video of videos; track $index) {
      <swiper-slide>
        <a [href]="getVideoUrl(video.videoId)" target="_blank" rel="noopener noreferrer" class="video-card">
          <div class="thumbnail-wrapper">
            <img [src]="getThumbnailUrl(video.videoId)" [alt]="video.title" loading="lazy">
            <div class="play-icon-overlay">
              <div class="play-icon">▶</div>
            </div>
          </div>
          <p class="video-title">{{ video.title }}</p>
        </a>
      </swiper-slide>
    }
  </swiper-container>
</div>