<nav class="sidebar" [class.expanded]="isExpanded">
  <div class="sidebar-header">
    <img src="assets/logo.png" alt="Logo" class="sidebar-logo">
    <button class="toggle-button" (click)="toggleSidebar()">
      <fa-icon [icon]="isExpanded ? faChevronLeft : faChevronRight"></fa-icon>
    </button>
  </div>

  <ul class="nav-list">
    <li>
      <a routerLink="/home" title="Home">
        <fa-icon [icon]="faHouse"></fa-icon>
        <span class="link-text">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/profile" title="Perfil">
        <fa-icon [icon]="faUser"></fa-icon>
        <span class="link-text">Perfil</span>
      </a>
    </li>
    <li>
      <a routerLink="/events" title="Eventos">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span class="link-text">Eventos</span>
      </a>
    </li>

    <li class="push-to-bottom">
      <a routerLink="/settings" title="Configurações">
        <fa-icon [icon]="faGear"></fa-icon>
        <span class="link-text">Configurações</span>
      </a>
    </li>
    
    <li>
      <a href="mailto:contato@seusite.com" title="Contato por E-mail">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span class="link-text">Contato</span>
      </a>
    </li>
  </ul>
</nav>